<h1>Add another user </h1>


<%= render "shared/simple_error_messages", :target => @add_user_command %>
<%= form_for(@add_user_command, :url => {:action => 'add_user_complete'} ) do |f| %>
  <%= render :partial => "shared/user_details", :locals => {:f => f} %>
<%= f.submit :value => 'Continue' %>
<% end %>



