<h1>Register: Step 2</h1>

<p>Enter your logon details. Please note your user name should be your
email address. You can add other users after registration.</p>

<%= render "shared/simple_error_messages", :target => @registration_step2_command %>
<%= form_for(@registration_step2_command, :url => {:action => 'step2_complete'} ) do |f| %>
  <%= render :partial => "shared/user_details", :locals => {:f => f} %>
<%= f.submit :value => 'Continue' %>
<% end %>


