/* CSS Document */

#page {
  background-color: white;
  margin: 40px auto;
  padding: 0 40px 20px;
  width: 870px;
  -moz-border-radius: 15px 15px 15px 15px;
}

#headercontent{
   /*background-color: #2424AA;*/
   background-color: #2200CC;

   color: #666666;
   padding: 10px;
   text-align: left;
   margin-top: 15px;
   margin-left:200px;
   height:80px;
   -moz-border-radius: 0px 15px 0px 15px;
}

#topheader{
  background-color:white;
  background-image:url(/images/wikikeep5.png);
  background-repeat:no-repeat;
  background-position:0px 8px;
  height:120px;  
}

/* quick links at top right */
#headermenu ul li {
    border-left: 1px solid #FFFFFF;
    color: #FFFFFF;
    float: right;
    list-style: none outside none;
    margin-top: 48px;
    padding-left: 10px;
    padding-right: 20px;
}

#headermenu ul li a:hover{
    text-decoration:none;
    color: black;
    background:inherit;   
}

#headermenu ul li a{
    text-decoration:none;
    color: white;   
}



/* user defined page content within this area */ 
#pagecontent {
   background-color:#FEEFDC;
   background-color:#ffeedd;

   color: #666666;
   padding: 10px;
   text-align: left;
   margin-top: 5px;
   width:570px;
   display:block;  
   -moz-border-radius: 0px 15px 0px 15px; 
 }

#pagecontent a {
   color: #444444;
}

#pagecontent a:hover {
   color: #101010;
}




/*TEXT STYLES  -- are these used ? */
.zz-bodytext {
	font: 0.7em Tahoma, sans-serif;
	color: #666666;
}

#topheader .zz-bodytext {
	margin-left: 10px;
}




/* Main Navigation Menu */
#navigation {
  padding-top:4px;
  margin-top:-15px;
  font-size: 16px;
}
#navigation ul {
  list-style: none;
  margin: 0; 
  padding: 0;
  padding-top: 1em;
}
#navigation li {
  display: inline;
  background-color: #FF9911;
  margin: 3px;
  padding: 3px;
  -moz-border-radius:5px;
}


#navigation a:link, #navigation a:visited {
  padding-left: 8px;
  padding-right: 20px;
  color:#FFF;
  text-decoration: none;
}
#navigation a:hover { 
 color: #333333;
}


.errormessage {
  color:red;
  font-size:1.2em;
  
}
