/*body { background-color: #fff; color: #333; }*/

body {
  background-color: #666666;
  color: #444444;
  font-family: Verdana,Arial,sans-serif;
  font-size:   13px;
  line-height: 17px;
}

h1 {
  x_color:#2424DB;
  color:#333333;
  font-size:28px;
  font-weight:normal;
}

h2 {
  x_color:#2424DB;
  color:#333333;
  font-size:24px;
  font-weight:normal;
}

h3 {
  x_color:#2424DB;
  color:#333333;
  font-size:22px;
  font-weight:normal;
}

button {
  background-color: #2424DB;
  color:white;
}


ul li {
  list-style: square;
  margin-left: -10px;
  padding-bottom:2px;
}

input {
  padding:2px;
}

div.field, div.actions {
  margin-bottom: 10px;
}

table.form {
  margin-left: -3px;
}

table.form td.label {  
  color: #020202;
}

table.form td.field .field_with_errors input {
  border: 1px solid red;
  -moz-border-radius:3px;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

#simple_error_explanation ul li {
  font-size: 12px;
  list-style: square;
  color: red;
}

.content_item  {
  z-background: #EEEEEE;
  padding:5px;
  z-border: 1px solid blue;
}

.content_item pre {
  font: Tahoma, sans-serif;
  font-size: 1.2em; 
}

#tags{
   margin-top:-30px;
   padding-right:10px;
   padding-left:10px;
   padding-bottom:10px;
   padding-top:1px;

   -moz-border-radius: 10px 10px 10px 10px;
   background-color: #ffcc99;
   x_background-color:#ffddbb;

}

#tags .header {
   padding:10px;
   background-color: #ffbb99;
   background-color:#FBB04C;
   margin-right:-10px;
   margin-left:-10px;
   margin-bottom:10px;
   font-size:20px;
   color:#FFFFFF;
   -moz-border-radius: 10px 10px 0px 0px;
}

#pagecontent .header {
   padding:10px;
   background-color:#FBB04C;
   margin-top:-10px;
   margin-right:-10px;
   margin-left:-10px;

   margin-bottom:10px;
   font-size:20px;
   color:#FFFFFF;
   -moz-border-radius: 10px 10px 0px 0px;
}


#xxpagecontent .content_item_summary {
   background-color:#ffddbb;
   padding-bottom :5px;
-moz-border-radius: 5px 5px 5px 5px;
}

#pagecontent .content_item_summary a {
   color:#2200CC;
  
}


