<div class="header">Add: Step 3</div>
<p>Enter your page tags: </p>

<%= render "shared/simple_error_messages", :target => @add_content_step3_command %>
<%= form_for(@add_content_step3_command, :url => {:action => 'step3_complete'} ) do |f| %>
<div class="form">
  <div class="field"><%= f.text_field :tags %></div>
</div>
<%= f.submit :value => 'Continue', :class => 'submit' %>
<% end %>

