<div class="header">Add: Step 1</div>

<p>Enter your page name:</p>

<%= render "shared/simple_error_messages", :target => @add_content_step1_command %>
<%= form_for(@add_content_step1_command, :url => {:action => 'step1_complete'} ) do |f| %>
<div class="form">
   <div class="field"><%= f.text_field :name %></div>
</div>
<%= f.submit :value => 'Continue',:class => 'submit' %>
<% end %>

