   <% if target && target.errors.any? %>  
   <div id="shortErrorExplanation">  
      <ul>  
      <% target.errors.full_messages.each do |msg| %>  
        <li><%= msg %></li>  
      <% end %>  
      </ul>  
    </div>  
   <% end %>  


