
  <script type="text/html" id="all_tags_template">  
     <li><a href="/<%=account_name%>/tag/view/${tag_data.id}">${tag_data.name}</a></li>
  </script>  

 <script type="text/html" id="all_tags_template2">  
     ${tag_data.name}
  </script>  


<div id="all_tags_container">
  <ul id="all_tags"/> 

</div>

<div id="abc"/>

<div>


<ul class="wibble"><li><a href="/demo/tag/view/4">Shoppingxx</a></li><li><a href="/demo/tag/view/5">WebSites</a></li><li><a href="/demo/tag/view/13">demo</a></li><li><a href="/demo/tag/view/14">ajax</a></li><li><a href="/demo/tag/view/15">testing</a></li><li><a href="/demo/tag/view/16">tags</a></li><li><a href="/demo/tag/view/17">test</a></li><li><a href="/demo/tag/view/18">ruby</a></li><li><a href="/demo/tag/view/19">tag1</a></li><li><a href="/demo/tag/view/20">tag2</a></li><li><a href="/demo/tag/view/21">tag3</a></li></ul>

</div>