
  <script type="text/html" id="all_tags_template">  
     <tr><td class="test"><a href="/<%=account_name%>/tag/view/${tag_data.id}">${tag_data.name}</a></td></tr>
  </script>  

 <script type="text/html" id="all_tags_template2">  
     ${tag_data.name}
  </script>  


<table class="tags"><tbody id="all_tags"></tbody></table> 



<!--</div>-->

<div id="abc"/>

