
  <script type="text/html" id="all_tags_template">  
     <li><a href="/<%=account_name%>/tag/view/${tag_data.id}">${tag_data.name}</a></li>
  </script>  

<div id="all_tags_container">
  <ul id="all_tags" 
<li>aa</li>
  </ul>
</div>