
<p>This is my “itch” I decided to scratch. In every project I worked on the wiki becomes a mess unless effort is put into keeping the page structure in  place. And useful “snippets“ of information are never entered because its too much effort to find and update the correct page. </p>

<p>My vision for this site is</p>

<ul>
  <li>
    Keep it essentially unstructured, using a tag like concept
  </li>
  <li>
     Keep page size and markup simple – the complex stuff can live elsewhere and just be referenced
  </li>
  <li>
     Easy to access via iPhone, email and Twitter 
  </li
  <li>
     Have a good search behind it (such as Apache SOLR)
  </li>
  <li>
     Make it as simple as possible to add or modify content
  </li>
  <li>
     Some form of “clustering” concept like LinkedIn groups or the Amazon “others also viewed” so that overlaps between tags is captured. e.g. if I look under the “java” tag it will know there is strong relationship to the “software development” tag.
  </li>
  <li>
    Use a NoSQL database such a CouchDB – it will probably be simpler and also scale far better.
   </li>
</ul>

<p>Its early days yet – come back in a few weeks and I'll have something useful running.</p>
