<div class="header">Home Page</div>

<p>Welcome to Wikikeep. This web site is still
under development, but feel free to look around.</p>

<p>You can:</p>
<ul>
  <li><%= link_to("Login", login_path)%> with the username of 'demo@example.com' and password of 'password' to play around.</li> 

  <li><%= link_to("Register", register_path)%> for a free account.</li>

  <li>Find out <%= link_to("more", about_path)%>.</li>

  <li>
    <a href="emailto:southbeachdownunder@gmail.com">Email</a> if you have any questions or comments.
  </li>
</ul>



