
<ul>
  <li class="arrow"><%= link_to("Login", login_path)%> with the username of 'demo@example.com' and password of 'password' to play around.</li> 

  <li class="arrow"><%= link_to("Register", register_path)%> for a free account.</li>

  <li class="arrow">Find out <%= link_to("more", about_path)%>.</li>

  <li class="arrow">
    <a href="emailto:southbeachdownunder@gmail.com">Email</a> if you have any questions or comments.
  </li>
</ul>



