<h2 class="header">Search</h2>

<p>Search all pages:</p>
<form name="search" action="<%=url_for(:action => 'dosearch')%>">
  <input name="q" class="initial_focus"/> 
  <input type="submit" value="Search" class="submit default_button"/>
</form>

