<h2 class="header">Page: <span class="highlight"><%= @content_item.name%><span></h2>

<div class="markedup_content">  
  <%= @content_item.markedup_content%>
</div>


<%= form_tag( {:action => 'edit', :id => @content_item.id}, :methood => 'get' ) do |f| %>
  <%= submit_tag('Edit', :class => 'submit') %>
<% end %>


