<div class="content_item">

  <h2><%= @content_item.name%></h2>

  <p><pre><%= @content_item.content%></pre></p>

   <%= link_to "Edit", :account_name => account_name, :action => 'edit', :id => @content_item.id %>
</content_item>
